<launch>

<arg name="using_sim" default="true" />

<!-- In Case of simulation, the Xterm windows will open for each node for debug purpose -->
<group if="$(eval arg('using_sim') == true)">

<rosparam param="using_sim">true</rosparam>

<rosparam file="$(find behavior_tree_leaves)/params/location_XY_sim.yaml" />

<node name="kitCmd"           pkg="behavior_tree_leaves"  type="kitCmd"               output="screen" />
<node name="loungeCmd"        pkg="behavior_tree_leaves"  type="loungeCmd"            output="screen" />
<node name="entranceCmd"      pkg="behavior_tree_leaves"  type="entranceCmd"          output="screen" />
<node name="lobbycmd"         pkg="behavior_tree_leaves"  type="lobbycmd"             output="screen" />
<node name="tvRoomcmd"        pkg="behavior_tree_leaves"  type="tvRoomcmd"            output="screen" />
<node name="bedRoomcmd"       pkg="behavior_tree_leaves"  type="bedRoomcmd"           output="screen" />

<node name="batteryOK"        pkg="behavior_tree_leaves"  type="batteryOK"            output="screen" /> 
<node name="GoToKit"          pkg="behavior_tree_leaves"  type="GoToKit"              output="screen"       launch-prefix="xterm -e" /> 
<node name="GoTolounge"       pkg="behavior_tree_leaves"  type="GoTolounge"           output="screen"       launch-prefix="xterm -e" /> 
<node name="GoToEntrance"     pkg="behavior_tree_leaves"  type="GoToEntrance"         output="screen"       launch-prefix="xterm -e" />
<node name="GoToLobby"        pkg="behavior_tree_leaves"  type="GoToLobby"            output="screen"       launch-prefix="xterm -e" /> 
<node name="GoToTvroom"       pkg="behavior_tree_leaves"  type="GoToTvroom"           output="screen"       launch-prefix="xterm -e" /> 
<node name="GoTobedRoom"      pkg="behavior_tree_leaves"  type="GoTobedRoom"          output="screen"       launch-prefix="xterm -e" /> 

<node name="navi_to_H"        pkg="behavior_tree_leaves"  type="navi_to_H"            output="screen"       launch-prefix="xterm -e" /> 

</group>

<!-- In case of actual robot, the Xterm terminal will not open -->
<group if="$(eval arg('using_sim') == false)">

<rosparam file="$(find behavior_tree_leaves)/params/location_XY_actual.yaml" />

<node name="kitCmd"           pkg="behavior_tree_leaves"  type="kitCmd"               output="screen" />
<node name="loungeCmd"        pkg="behavior_tree_leaves"  type="loungeCmd"            output="screen" />
<node name="entranceCmd"      pkg="behavior_tree_leaves"  type="entranceCmd"          output="screen" />
<node name="batteryOK"        pkg="behavior_tree_leaves"  type="batteryOK"            output="screen" /> 
<node name="GoToKit"          pkg="behavior_tree_leaves"  type="GoToKit"              output="screen" /> 
<node name="GoTolounge"       pkg="behavior_tree_leaves"  type="GoTolounge"           output="screen" /> 
<node name="GoToEntrance"     pkg="behavior_tree_leaves"  type="GoToEntrance"         output="screen" />
<node name="GoToLobby"        pkg="behavior_tree_leaves"  type="GoToLobby"            output="screen" /> 
<node name="GoToTvroom"       pkg="behavior_tree_leaves"  type="GoToTvroom"           output="screen" /> 
<node name="GoTobedRoom"      pkg="behavior_tree_leaves"  type="GoTobedRoom"          output="screen" /> 
<node name="navi_to_H"        pkg="behavior_tree_leaves"  type="navi_to_H"            output="screen" /> 

</group>
</launch>

<!-- Use this command for seperate window-->
<!--launch-prefix="xterm -e"--> 
